<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    failOnNotice="true"
    failOnRisky="true"
    failOnDeprecation="true"
    failOnWarning="true"
    processIsolation="false"
    stopOnFailure="false"
    displayDetailsOnPhpunitDeprecations="true">
  <testsuites>
    <testsuite name="Sansdaemon">
      <directory suffix=".php">./tests/Unit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
